<h2> Welcome to the password protected area</h2>

{{#if messages}}
    {{#each messages}}
        {{this}}
    {{/each}}
{{/if}}

<p>Hello, {{username}}</p>

<p>You signed up on {{signupDate}}</p>
<h3>Your favorite things</h3>
<h4>
    <button type="button" onclick="showModal('edit-favs')">Edit</button>
</h4>

<p>Your favorite color is
    {{#if favorites.color}}
        {{favorites.color}}
    {{else}}
        Not set
    {{/if}}</p>

<p>Your lucky number is
    {{#if favorites.luckyNumber}}
        {{favorites.luckyNumber}}
    {{else}}
        Not set
    {{/if}}</p>

<a href="/logout">Log out</a>

<div id="edit-favs" class="modal">
    <div class="modal-content">
        <form action="/saveSecrets" method="POST">
            Favorite Color: <input type="text" name="color" value="{{favorites.color}}"> <br>
            Lucky Number: <input type="number" name="luckyNumber" value="{{favorites.luckyNumber}}"> <br>
            <button name="updateSecrets">Update</button><button type="button" onclick="closeModal(this)">Cancel</button>
        </form>
    </div>

</div>