<h2> Welcome to the password protected area</h2>

{{#if messages}}
    {{#each messages}}
        {{this}}
    {{/each}}
{{/if}}


{{#if user.local.username}}
<p>Hello, {{user.local.username}}. You signed up locally</p>
{{else}}
    to do add, add password auth to twitter account
{{/if}}

{{#if user.twitter.username}}
    <p>Hello, {{user.twitter.username}}. You signed up with twitter</p>
{{else}}
    <!--shows link twitter form to link a twitter account to an existing local login-->
    <form action="/auth/twitter">
        <input type="hidden" name="user" value="{{user.local.username}}">
        <button>Link Twitter</button>
    </form>
{{/if}}

<p>You signed up on {{user.signupDate}}</p>
<h3>Your favorite things</h3>
<h4>
    <!--button to call the 'showModal' function to show the 'edit-favs' forum-->
    <button type="button" onclick="showModal('edit-favs')">Edit</button>
</h4>

<!--shows favorite color if ti is set-->
<p>Your favorite color is
    {{#if user.favorites.color}}
        {{user.favorites.color}}
    {{else}}
        Not set
    {{/if}}</p>

<!--shows lucky number if it is set-->
<p>Your lucky number is
    {{#if user.favorites.luckyNumber}}
        {{user.favorites.luckyNumber}}
    {{else}}
        Not set
    {{/if}}</p>

<!--link to log out-->
<a href="/logout">Log out</a>

<!--the 'edit-favs modal that is invisiable until showModal('edit-favs') gtes called-->
<div id="edit-favs" class="modal">
    <div class="modal-content">
        <form action="/saveSecrets" method="POST">
            Favorite Color: <input type="text" name="color" value="{{favorites.color}}"> <br>
            Lucky Number: <input type="number" name="luckyNumber" value="{{favorites.luckyNumber}}"> <br>
            <button name="updateSecrets">Update</button><button type="button" onclick="closeModal(this)">Cancel</button>
        </form>
    </div>
</div>