<h2> Welcome to the password protected area</h2>

{{#if messages}}
    {{#each messages}}
        {{this}}
    {{/each}}
{{/if}}


{{#if user.local.username}}
<p>Hello, {{user.local.username}}. You signed up locally</p>
{{/if}}

{{#if user.twitter.username}}
    <p>Hello, {{user.twitter.username}}. You signed up locally</p>
{{/if}}

<p>You signed up on {{user.signupDate}}</p>
<h3>Your favorite things</h3>
<h4>
    <button type="button" onclick="showModal('edit-favs')">Edit</button>
</h4>

<p>Your favorite color is
    {{#if user.favorites.color}}
        {{user.favorites.color}}
    {{else}}
        Not set
    {{/if}}</p>

<p>Your lucky number is
    {{#if user.favorites.luckyNumber}}
        {{user.favorites.luckyNumber}}
    {{else}}
        Not set
    {{/if}}</p>

<a href="/logout">Log out</a>

<div id="edit-favs" class="modal">
    <div class="modal-content">
        <form action="/saveSecrets" method="POST">
            Favorite Color: <input type="text" name="color" value="{{favorites.color}}"> <br>
            Lucky Number: <input type="number" name="luckyNumber" value="{{favorites.luckyNumber}}"> <br>
            <button name="updateSecrets">Update</button><button type="button" onclick="closeModal(this)">Cancel</button>
        </form>
    </div>

</div>