<h2> Welcome to the password protected area</h2>

{{#if messages}}
    {{#each messages}}
        {{this}}
    {{/each}}
{{/if}}

<p>Hello, {{username}}</p>

<p>You signed up on {{signupDate}}</p>
<h3>Your favorite things</h3>
<h4>
    <button onclick="showModal('edit-favs')">Edit</button>
</h4>

<p>Your favorite color is
    {{#if favortes.color}}
        {{favorites.color}}
    {{else}}
        Not set
    {{/if}}</p>

<p>Your lucky number is
    {{#if favortes.luckyNumber}}
        {{favorites.luckyNumber}}
    {{else}}
        Not set
    {{/if}}</p>

<a href="/logout">Log out</a>

<div id="edit-favs" class="modal">
    <div class="modal-content">
        <form action="/saveSecrets" method="POST">
            Favorite Color: <input> <br>
            Lucky Number: <input> <br>
            <button></button><button onclick="closeModal(this)"></button>
        </form>
    </div>

</div>